repositories:
  - name: 1password
    url: https://1password.github.io/connect-helm-charts/
releases:
  - name: 1password-connect
    namespace: secrets
    chart: 1password/connect
    version: v1.8.1
    values:
      - operator:
          create: true
          token:
            value: {{requiredEnv "ONEPASSWORD_TOKEN"}}
    set:
      - name: connect.credentials
        file: 1password-credentials.json
